.firstPhantomCol{
    display:flex;
    justify-content: center;
    align-items: center;
}
.firstPhantomCol img{
    height:100%;
}

#humanPhantom{
    position: relative;
}
#skullPhantom{
    position: absolute;
    top:6%;
    left:44%;
}
#ribCagePhantom{
    position:absolute;
    top:20%;
    left:39%;
    z-index: 5;
}
#liverPhantom{
    position:absolute;
    top:32%;
    left:40%;
    height:7%;
    z-index: 1;
}
#heartPhantom{
    position: absolute;
    height: 6%;
    top: 21%;
    left: 47%;
    z-index: 1;
}
#stomachPhantom{
    position: absolute;
    height: 6%;
    top: 31%;
    right: 39%;
}
#lungsPhantom{
    position: absolute;
    height: 11%;
    top: 21%;
    right: 39%;
}
@-moz-document url-prefix() {
  #stomachPhantom {
    right:44%;
  }
  #lungsPhantom{
    right: 37%;
  }
}



.secondPhantomCol{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}