.firstPhantomCol{
    display:flex;
    justify-content: center;
    align-items: center;
}
.firstPhantomCol img{
    height:100%;
}

#humanPhantom{
    position: relative;
}
#skullPhantom{
    position: absolute;
    top:6%;
    left:44%;
}
#ribCagePhantom{
    position:absolute;
    top:20%;
    left:39%;
    z-index: 5;
}
#liverPhantom{
    position:absolute;
    top:32%;
    left:40%;
    height:7%;
    z-index: 1;
}
#heartPhantom{
    position: absolute;
    height: 6%;
    top: 21%;
    left: 47%;
    z-index: 1;
}
#stomachPhantom{
    position: absolute;
    height: 7%;
    top: 31%;
    right: 40%;
}
#lungsPhantom{
    position: absolute;
    height: 11%;
    top: 21%;
    right: 39%;
}
#intestinePhantom{
    position: absolute;
    top:36.5%;
    left:40.3%;
}
#urinaryPhantom{
    position: absolute;
    top:44.8%;
    left:45.3%;
}
#esophagusPhantom{
    position: absolute;
    top:14.2%;
    left:49%;
}
@-moz-document url-prefix() {
  #stomachPhantom {
    right:46%;
  }
  #lungsPhantom{
    right: 37%;
  }
}



.secondPhantomCol{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding:2% 0;
}

.phantomBtn{
    width:170px;
    font-size:0.7rem;
    
}


@media screen and (max-width: 767px) {
    .secondPhantomCol{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .phantomBtn{
        font-size:0.6rem;
    }
  }
  @media (min-height: 1000px) {
   .phantomBox{
       display:flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   } 
   .firstPhantomCol{
    padding-bottom: 10%;
    }
   .secondPhantomCol{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    padding:2% 0;
    min-width:80vw;
    }
}