ul{
    display:flex;
   flex-wrap: wrap;
    justify-content: center;
   align-items: center;
    height: 100%;
    padding:10%;
    margin-left: 6%;
   
}

.sysMenuBtn{
    width:200px;
}
@media (min-height: 1000px) {
    ul{
        flex-direction: column;
        justify-content: space-evenly;
    }
    
}