
#burgerNav
{
   
    position: absolute;
    z-index: 9000;
    margin:0;
    box-shadow: none;
    left:0;
    padding-left:0;
    padding-top: 4%;
   
}
#burgerNav span{
    background-color: #fff !important;
}
#burgerNav ul{
    display:flex;
    align-items: center;
    justify-content: center;
    width:90vw;
    height: 100vh;
    background-color:rgba(0, 161, 241, 0.8);
    margin:0;
    padding:0;
    font-size:2rem;
    
    
}
#burgerNav ul a{
    color:#fff;
}