.mainBox{
    background-color: #FFBB00;
    height:100%;
    min-height: 72vh;
    
    
}

@media (min-width: 1000px) {
    .mainBox{
    
    max-height: 72vh;
    }
    
}
@media (min-height: 1000px) {
    .mainBox{
    display:flex;
    align-items: center;
    
    
}
    
}

 