.starter{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:2%;
   
}
.starter{
    font-family: 'Gloria Hallelujah', cursive;
}
.starter h1{
    margin-bottom: 3%;
}
.starter h2{
    padding:5%;
}
.starter h3{
    margin-top:2%;
    padding-left: 80%;
}