img.systemImg{
    padding:10% 0;
    
}
.firstCol{
    display:flex;
    justify-content: center;
}
.secondCol{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.secondCol p{
    padding:10%;
}
