img.systemImg{
    padding:2% 0;
    height: 90%;
    
}
.firstCol{
    display:flex;
    justify-content: center;
    align-items: center;
}
.secondCol{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.secondCol p{
    padding:2%;
}
@media (min-height: 1000px) {
    .systemBox{
     
        align-items: center;
        justify-content: center;
        max-height: 62vh;
        padding:3%;
    }
    
    
}