.firstOrgansCol{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.firstOrgansCol img{
    height:50%;
}
.secondOrgansCol{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5%;
    padding-top:2%;
   

}
.secondOrgansCol h2{
padding-top:0;

}
div.description p{
    margin-top: 4%;
}


#girl{
    position:relative;
}

#brain{
    height:17%;
    position:absolute;
    top:5%;
    right:calc(50% - 35px);
}

#lungs{
    height:17%;
    position:absolute;
    bottom:4%;
    right:25%;
}
#largeIntestine{
    height:17%;
    position:absolute;
    bottom:4%;
    left:25%;
}
#stomach{
    height:17%;
    position:absolute;
    top:25%;
    right:10%;
}
#smallIntestine{
     height:17%;
    position:absolute;
    bottom:28%;
    right:10%;
}
#heart{
    height:17%;
    position:absolute;
    top:25%;
    left:10%;
}
#liver{
     height:17%;
    position:absolute;
    bottom:28%;
    left:10%;
}
@media (min-height: 1000px) {
    .organsBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    @-moz-document url-prefix() {
        .organsBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
    }
}
    div.description p{
        display:flex;
        min-width:20vw;
        padding-top:10%;
        margin:0;
        text-align: center;
        
    }
    
    .firstOrgansCol{
        height:50vh !important;
    }
    .secondOrgansCol{
        font-size: 1.3rem;
    }
}
    
   

@media (min-height: 1000px) and (max-width:768px){

.secondOrgansCol{
        display:flex;
        min-width:100%;
    }
}
@media (min-width: 1799px) {

.secondOrgansCol{
        font-size:1.6rem;
    }
}


@media (min-width: 1000px) {
    #brain{
        right:calc(50% - 45px);
    
}
 @-moz-document url-prefix() {
        .firstOrgansCol{
        height:70vh !important;
    }
}

}
@media (min-width: 1000px)and (min-height:1000px) {
    #brain{
        right:calc(50% - 45px);
    
    }
    @-moz-document url-prefix() {
        #brain{
        right:calc(50% - 35px);
    
    }
}
}