.firstOrgansCol{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.firstOrgansCol img{
    height:50%;
}
.secondOrgansCol{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5%;
   

}
#girl{
    position:relative;
}
#brain{
    height:17%;
    position:absolute;
    top:5%;
    right:calc(50% - 35px);
}
#lungs{
    height:17%;
    position:absolute;
    bottom:4%;
    right:25%;
}
#largeIntestine{
    height:17%;
    position:absolute;
    bottom:4%;
    left:25%;
}
#stomach{
    height:17%;
    position:absolute;
    top:25%;
    right:10%;
}
#smallIntestine{
     height:17%;
    position:absolute;
    bottom:28%;
    right:10%;
}
#heart{
    height:17%;
    position:absolute;
    top:25%;
    left:10%;
}
#liver{
     height:17%;
    position:absolute;
    bottom:28%;
    left:10%;
}
@media (min-height: 1000px) {
    .organsBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    div.description p{
        min-width:50vw;
        padding:0;
        margin:0;
        text-align: center;
    }
}
