.footer{
   display:flex;
   justify-content:center;
   align-items: center;
    background-color: #7CBB00;
    padding:1%;
    
    font-family: 'Gloria Hallelujah', cursive;
    color:#fff;
    font-size:1.3rem;
   
}

@media (min-height: 1000px) {
    .footer{
        min-height:10vh;
    }
       
}
@media (max-width: 500px) {
    .footer{
        padding:5%;
        font-size:1.5rem;
    }
     @-moz-document url-prefix() {
        .footer{
        padding:8%;
       
    }
}
    
}