.footer{
   display:flex;
   justify-content:center;
   align-items: center;
    background-color: #7CBB00;
    padding:4%;
    font-family: 'Gloria Hallelujah', cursive;
    color:#fff;
    font-size:1.5rem;
   
}