.firstSensesCol{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:58vh;
}

.imgSize{
    height: 80px;
}
#sight{
    position: relative;
}
#hear{
    position: absolute;
    top:10%;
    right: 15%;
}
#taste{
    position: absolute;
    top:10%;
    left: 15%;
}
#touch{
    position: absolute;
    bottom:10%;
    left: 15%;
}
#smell{
    position: absolute;
    bottom:10%;
    right: 15%;
}


@media (min-height: 1000px) {
    .sensesBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
       
    }
    .firstSensesCol{
        display:flex;
        justify-content: center;
        align-items: center;
        min-height:40vh;
    }
    
}