.firstSensesCol{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:58vh;
}

.imgSize{
    height: 80px;
}
#sight{
    position: relative;
}
#hear{
    position: absolute;
    top:10%;
    right: 15%;
}
#taste{
    position: absolute;
    top:10%;
    left: 15%;
}
#touch{
    position: absolute;
    bottom:10%;
    left: 15%;
}
#smell{
    position: absolute;
    bottom:10%;
    right: 15%;
}
.secondSensesCol{
    padding-top: 5%
}

@media (min-height: 1000px) {
    .sensesBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
       
    }
    .firstSensesCol{
        display:flex;
        justify-content: center;
        align-items: center;
        min-height:40vh;
    }
@-moz-document url-prefix() {
    .secondSensesCol{
        max-width: 100%;
        min-height: 40vh;
    }
}
    
}

@media (min-height: 1000px) and (min-width:1000px) {
    .firstSensesCol{
        margin:auto auto;
    }
    .secondSensesCol{
        font-size: 1.1rem;
        margin:auto auto;
    }
    .sensesBox{
        display:flex;
        align-items: center;
    }
    @-moz-document url-prefix() {
       .firstSensesCol{
        margin:auto auto;
    }
    .description{
        padding: 0;
    }
    }
}
@media (min-height: 1000px) and (min-width:1300px) {
     .secondSensesCol{
        font-size: 1.4rem;
    }
    
}